:root {
  --bg-color: #48bf91;
  --folder-color: #036952;
  --folder-open-color: #004b3a;
  --folder-text-color: rgba(245, 245, 245, 0.616);
  --divider-line-color: rgba(245, 245, 245, 0.616);
  --default-text-color: black;
  --display-setting-element: none;
  --color-selector-bubble-size: 24px;
  --overlay-container-color: honeydew;
  --overlay-container-accent-color: #97b4ad;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  overflow-y: scroll;
  font-size: 100%;
  font-family: Fira Code;
  /* Add the ability to scroll */
}

/* Hide scrollbar for chrome, Safari and Opera */
/* 
body::-webkit-scrollbar {
  display: none;
} */
.large-text {
  font-size: 150%;
  font-family: Fira Code;
}
.imgtile > img {
  position: relative;
  top: 7px;
  left: 7px;
  width: 27px;
}

#bm {
  position: absolute;
  width: 55%;
  left: 10%;
  top: 10%;
}

#favoritesListContainer {
  position: absolute;
  left: 66%;
  top: 35%;
}

#search {
  left: 10%;
  top: 2.5%;
  font-size: 150%;
  font-family: Fira Code;
  position: absolute;
}

ul li {
  margin: 5px 5px;
}
ul {
  list-style-type: none;
}

.imgtile {
  border-radius: 15px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: black;
}

.bookmark-line-element {
  color: var(--default-text-color);
  margin: 2px;
  width: 100%;
  display: flow-root;
  height: 40px;
}

.bookmark-line-element > a > span {
  vertical-align: middle;
  display: inline-block;
  width: 85%;
  font-size: 90%;
  overflow: hidden;
  white-space: nowrap;
}

.bookmark-line-element > a:hover > span {
  font-size: 100%;
}

.bookmark-line-element > a > .bookmark-line-element-favicon {
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  width: 25px;
  transition: width 0.2s;
}

.bookmark-line-element > a:hover > .bookmark-line-element-favicon {
  transform: scale(1.2) rotate(20deg);
}

.line-hover-icon {
  vertical-align: middle;
  float: right;
  width: 30px;
  transition: transform 0.2s;
}

.line-hover-icon:hover {
  transform: scale(1.2) rotate(20deg);
}

.thumbnailcontainer {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  left: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--folder-color);
  color: var(--folder-text-color);
  border-radius: 10px;
  width: 7.5em;
  height: 7.5em;
}

.thumbnail.active {
  background-color: var(--folder-open-color);
  border-radius: 10px;
}

.contentcontainer > .line {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: var(--divider-line-color);
  height: 0px;
  width: 0%;
  transition: width 0.5s ease-in, height 0s 0.5s;
}

.contentcontainer.active > .line {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 7px;
  width: 100%;
  transition: width 0.5s ease-out 0s, height 0s;
}

/*
transition: background-color 1s linear 2s, color 1s;
transition: property name | duration | timing function | delay
*/

.contentcontainer > .content {
  max-height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: max-height 0.5s, visibility 0s 0.5s, opacity 0.5s;
}

.contentcontainer.active > .content {
  visibility: inherit;
  max-height: 100000px;
  opacity: 1;
  transition: max-height 0.5s, visibility 0s, opacity 0.5s;
}
/*
Search css
*/
#searchinput {
  padding: 5px;
  color: none;
  text-decoration: none;
  background-color: rgba(245, 245, 245, 0.616);
  border: 2px solid rgb(70, 70, 70);
  border-radius: 15px;
  font-size: large;
}

#searchResultList {
  width: 100%;
}

.overlay-container {
  padding-inline-start: 5px;
  padding-right: 10px;
  background-color: var(--overlay-container-color);
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#search {
  width: 55%;
}

#search > div > button > svg {
  height: 100%;
}

#search > div {
  height: 1.5em;
  display: inline-flex;
}

.searchbutton {
  margin-left: 2px;
  padding: 5px;
  color: none;
  text-align: center;
  text-decoration: none;
  background-color: rgba(245, 245, 245, 0.616);
  border: 2px solid rgb(70, 70, 70);
  border-radius: 15px;
}

.searchbutton:hover {
  background-color: rgba(185, 185, 185, 0.616);
}
.searchbutton:active {
  background-color: rgba(160, 160, 160, 0.616);
}

.defaultFavImage {
  filter: brightness(0);
}

/*
Settings css
*/
#settingsContainer {
  top: 5px;
  right: 5px;
  position: absolute;
}
.settings-display-element {
  display: var(--display-setting-element);
}

.buttonIcon {
  width: 24px;
  padding: 5px;
  fill: var(--default-text-color);
  transition: width 0.2s;
}
.buttonIcon:hover {
  transform: scale(1.2) rotate(20deg);
}

.buttonDefaultStyleOverwrite {
  border: none;
  background-color: unset;
  text-align: center;
  text-decoration: none;
}

.center-left {
  left: 50%;
  transform: translateX(-50%);
}

.settings-dialog {
  position: absolute;
  top: 30px;
  right: 30px;
}

.resetbutton {
  height: 3.5em;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 5px;
  margin: 5px;
  fill: var(--default-text-color);
  transition: width 0.2s;
}

.color-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-setting .right-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.color-bubble {
  position: relative;
  display: inline-block;
  width: var(--color-selector-bubble-size);
  height: var(--color-selector-bubble-size);
  border-radius: 50%;
  border: 2px var(--divider-line-color) solid;
  overflow: hidden;
  cursor: pointer;
}

/* Make the color fill the circle */
.color-bubble input[type="color"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  /* Remove browser styling */
  -webkit-appearance: none;
  appearance: none;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
.color-bubble input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color-bubble input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

/* For Firefox */
.color-bubble input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.optionsbutton > svg {
  fill: var(--default-text-color);
  width: 24px;
  height: 24px;
}

/*
chips
*/
.current-chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.single-chip {
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding-left: 4px;
  width: fit-content;
  border-radius: 100px;
  background-color: var(--overlay-container-accent-color);
}

.single-chip > span {
  overflow: hidden;
  white-space: nowrap;
}

.text-input-apply-button {
  padding: 1px;
  margin: 2px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100px;
  background-color: var(--overlay-container-color);
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
}

.text-input {
  border: none;
  background-color: unset;
  padding: 5px;
  font-size: 90%;
  font-family: Fira Code;
}
.text-input:focus-visible {
  background-color: unset;
  outline: unset;
  color: unset;
}

.input-field-container {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-content: center;
  width: fit-content;
  border: none;
  border-radius: 50px;
  background-color: var(--overlay-container-accent-color);
  padding: 5px;
}

.settings-section {
  padding-top: 10px;
  margin-bottom: 0px;
}

.inset-settings {
  margin-left: 1em;
}

.spacer{
  height: 1em;
}