:root {
  --bg-color: #48bf91;
  --folder-color: #036952;
  --folder-open-color: #004b3a;
  --folder-text-color: rgba(245, 245, 245, 0.616);
  --divider-line-color: rgba(245, 245, 245, 0.616);
  --default-text-color: black;
  --overlay-container-color: #ffffff;
  --accent-background-color: #c3c2c2;
  --accent-text-color: #000000;
  --color-selector-bubble-size: 24px;
  --display-setting-element: none;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  font-size: 100%;
  height: 100%;
  font-family: Fira Code;
}

#layout-bm-and-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 66.66%;
  height: 100%;
  padding-right: 2em;
  padding-top: 5%;
  padding-left: 10%;
  box-sizing: border-box;
  font-family: Fira Code;
}

#layout-favorites-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Drag Divider */
#layout-divider {
  position: fixed;
  top: 0;
  right: 33.33%;
  width: 6px;
  height: 100%;
  background: var(--default-text-color);
  opacity: 30%;
  cursor: ew-resize;
}

#layout-divider:hover {
  /* background: rgba(0, 0, 0, 0.3);
   */
   opacity: 50%;
}
/* #region favorites are disabled*/

body.favorites-disabled #layout-favorites-container {
  width: 0% !important;
}

body.favorites-disabled #layout-divider {
  display: none;
}

body.favorites-disabled #layout-bm-and-search {
  width: 100% !important;
}

body.favorites-disabled .layout-divider-drag-anchor {
  display: none;
}
/* #endregion favorites are disabled*/

body.slider-disabled #layout-divider {
  width: 100% !important;
  display: none;
  width: 0% !important;
}

body.is-dragging {
  user-select: none;
  cursor: ew-resize;
}
/* #region bookmarks are disabled*/

body.bookmark-disabled #layout-divider {
  display: none;
  width: 0% !important;
}

body.bookmark-disabled #layout-favorites-container {
  width: 100% !important;
}

body.bookmark-disabled #layout-bm-and-search {
  width: 0% !important;
  visibility: hidden;
}

body.bookmark-disabled .layout-divider-drag-anchor {
  display: none;
}
/* #endregion bookmarks are disabled*/

/* Hide scrollbar for chrome, Safari and Opera */
/* 
body::-webkit-scrollbar {
  display: none;
} */
.large-text {
  font-size: 150%;
  font-family: Fira Code;
}

.imgtile > img {
  position: relative;
  top: 7px;
  left: 7px;
  width: 27px;
}

ul {
  list-style-type: none;
  padding-inline-start: 5px;
}

#favoritesList > li {
  margin: 5px;
  color: var(--default-text-color);
}

#searchResultList {
  box-sizing: border-box;
}

#settings-list {
  box-sizing: border-box;
  margin: 10px;
  padding-right: 1em;
  max-height: 80vh;
  overflow-y: auto;
  color: var(--default-text-color);
}

.imgtile {
  border-radius: 15px;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  background-color: var(--default-text-color);
}

.contentcontainer > .line {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: var(--divider-line-color);
  height: 0px;
  width: 0%;
  transition: width 0.5s ease-in, height 0s 0.5s;
}

.contentcontainer.active > .line {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 7px;
  width: 100%;
  transition: width 0.5s ease-out 0s, height 0s;
}

/*
transition: background-color 1s linear 2s, color 1s;
transition: property name | duration | timing function | delay
*/

.contentcontainer > .content {
  max-height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: max-height 0.5s, visibility 0s 0.5s, opacity 0.5s;
}

.contentcontainer.active > .content {
  visibility: inherit;
  max-height: 100000px;
  opacity: 1;
  transition: max-height 0.5s, visibility 0s, opacity 0.5s;
}
/*
Search css
*/

#searchinput {
  padding: 5px;
  color: none;
  text-decoration: none;
  background-color: var(--accent-background-color);
  border: 2px solid rgb(70, 70, 70);
  border-radius: 15px;
  font-family: "Fira Code";
  font-size: large;
}

#searchResultList {
  width: 100%;
}

.overlay-container {
  padding-inline-start: 5px;
  padding-right: 10px;
  background-color: var(--overlay-container-color);
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  z-index: 100;
  position: absolute;
}

#search > div > button > svg {
  height: 100%;
}

#search > div {
  height: 1.5em;
  display: inline-flex;
}

.defaultFavImage {
  filter: brightness(0);
}

/*
Settings css
*/
#settingsContainer {
  top: 15px;
  right: 15px;
  position: fixed;
}

#settingsList {
  padding-right: 1em;
  opacity: 1;
  max-height: 80vh;
  overflow-y: auto;
}
.settings-display-element {
  display: var(--display-setting-element);
}

.settings-dialog {
  position: absolute;
  top: 30px;
  right: 30px;
}

.color-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-setting .right-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.settings-section {
  padding-top: 10px;
  margin-bottom: 0px;
}

.inset-settings {
  padding-left: 1em;
}

.spacer {
  height: 1em;
}

.layout-divider-drag-anchor {
  color: var(--default-text-color);
  display: var(--display-setting-element);
  position: absolute;
  top: 5px;
  left: 1em;
}
